body, html {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  overflow: hidden;
}
.main {
  display: flex;
  display: -webkit-flex;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  max-height: 100%;
}
.CodeMirror {
  height: 100vh !important;
  -webkit-flex: 1;
  flex: 1;
  font-size: 14px;
}
.compilation {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-flex: 1;
  flex: 1;
  max-width: 50%;
}
.helparea {
  -webkit-flex: 1;
  flex: 1;
  font-family: monospace;
  overflow: auto;
}
.output {
  -webkit-flex: 1;
  flex: 1;
  font-family: monospace;
  overflow: auto;
}
.run {
  height: 50px;
}
.divisor {
  background-color: #cecece;
}
.v.divisor {
  width: 3px;
  height: 100%;
}
.h.divisor {
  width: 100%;
  height: 3px;
}
.continue, .run {
  -webkit-flex: 1;
  flex: 1;
}

.visual {
  z-index: 1000;
  background-color: #DDD;
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 50%;
  /*transition: height 0.5s, width 0.5s, top 0.5s, right 0.5s, opacity 5s, position 0.5s;*/
}

.visual.minimized {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px;
  height: 100px;
  /*transition: height 0.5s, width 0.5s, top 0.5s, right 0.5s, opacity 5s, position 0.5s;*/
  opacity: 0.2;
  cursor: pointer;
}

.visual:hover {
  opacity: 1;
  /*transition: height 0.5s, width 0.5s, top 0.5s, right 0.5s, opacity 0.5s;*/
}

.visual.maximized {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  /*transition: height 0.5s, width 0.5s, top 0.5s, right 0.5s, opacity 0.5s;*/
  opacity: 1;
  cursor: auto;
}

.visual.minimized {
  border: 2px black dashed;
}

.hidden {
  display: none;
}

.minimize, .maximize {
  color: black;
  background-color: white;
  position: absolute;
  font-size: 20px;

  width: auto;
  height: auto;
  cursor: pointer;
}

.minimize {
  top: 10px;
  right: 30px;
}

.maximize {
  top: 10px;
  right: 60px;
}

.visual > canvas {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
