body, html {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  overflow: hidden;
}

.main {
  display: flex;
  display: -webkit-flex;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  max-height: 100%;
}

.CodeMirror {
  height: 100vh !important;
  -webkit-flex: 1;
  flex: 1;
  font-size: 14px;

}

.compilation {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-flex: 1;
  flex: 1;
  max-width: 50%;
}

.helparea {
  -webkit-flex: 1;
  flex: 1;
  font-family: monospace;
  overflow: auto;
}

.output {
  -webkit-flex: 1;
  flex: 1;
  font-family: monospace;
  overflow: auto;
}

.run {
  height: 50px;
}

.divisor {
  background-color: #cecece;
}

.v.divisor {
  width: 3px;
  height: 100%;
}

.h.divisor {
  width: 100%;
  height: 3px;
}
.continue, .run {
  -webkit-flex: 1;
  flex: 1;
}

.error {
  position: relative;
  margin-left: 50px;
}

.error::before {
  content: "";
  border-left: 1px solid;
  border-color: #333333;
  left: -20px;
  position: absolute;
  height: 100%;
}

.error > .linea {
  position: relative;
  left: -48px;
  display: inline-block;
  width: 0;
  font-weight: bold;
  text-decoration: underline;
}
